div.main {
  width: 100%;
  padding: 0 0 0 0;
  border: none;
}

/* Site header for mobile */
div.site-header {
  padding: 0.5em 0;
  margin-bottom: 1em;
}

a.site-title {
  font-size: 1.2em;
  padding: 0.3em 0.5em;
}

H1, H2 {
  margin-bottom: 1.25em;
  padding: 0;
  width: 100%;
  font-size: 1.25em;
}

H3, H4 {
  margin-top: 0.625em;
  margin-bottom: 0.625em;
  border: none;
  width: 100%;
  font-size: 1em;
  color: blue;
}

H5, H6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
  font-weight: 600;
}

div.nav {
  width: 100%;
  padding: 0 0 0 0;
  border: 1px solid #d4d4d4;
}

div.nav a {
  padding: 0.25em 0.75em;
}

div.nav_nav {
  width: 100%;
}

div.nav_rss {
  display: none;
}

a.nav_a1 {
  background: #d4d4d4;
}

div.overview {
  margin: 1.5em 0 1.5em 0.75em;
}

div.detail {
  margin-left: 0;
}

div.date {
  display: none;
}

.gist .line-numbers {
  display: none;
}

.gist .line-data {
  font-size: 1em;
}
